{% load text_filters %}
<a href="/{{ story.type }}/{{ story.slug }}/" class="story story_type_timeline" style="background-image: url('{% if story.image_preview %}{{ story.image_preview }}{% else %}{{ story.image|resized_image:900 }}{% endif %}');">
    <span class="story__info">
        <span class="story__title">{{ story.title | safe }}</span>
        {% if story.subtitle %}
            <span class="story__subtitle">{{ story.subtitle | safe }}</span>
        {% endif %}
        <span class="story__date">{{ story.created_at|date:"d E Y"|lower }} :: {{ story.comments_count }} {{ story.comments_count|rupluralize:"комментарий,комментария,комментариев" }} :: {{ story.views_count }} {{ story.views_count|rupluralize:"просмотр,просмотра,просмотров" }}</span>
    </span>
</a>
