{% load text_filters %}
<div class="events__block block-map full-height" style="background-image: url('http://maps.googleapis.com/maps/api/staticmap?center={{ block.latitude }},{{ block.longitude }}&zoom=8&size=800x350&sensor=false&scale=2&key={{ settings.GOOGLE_MAPS_API_KEY }}');">
    <div class="block-map__memories">
        {% for memory in block.memories %}
        <a href="{{ memory.image|resized_image:"full" }}" class="block-map__memory" style="float: {% cycle "left" "right" %}; margin-top: {% cycle "40" "100" %}px;">
            <span class="block-map__memory-image" style="background-image: url('{{ memory.image|resized_image:"400" }}');"></span>
            {% if memory.title %}
                <span class="block-map__memory-text">{{ memory.title }}</span>
            {% endif %}
        </a>
        {% endfor %}
    </div>
</div>
