<div class="top-accounts">
    <i class="icon-emailalt"></i>&nbsp;<a href="mailto:me@vas3k.ru">me@vas3k.ru</a><br />
    <i class="icon-skype"></i>&nbsp;vas3k_taburedko<br />
    <i class="icon-chat"></i>&nbsp;vas3k@jabber.ru<br />
    <i class="icon-twitter"></i>&nbsp;<a href="http://twitter.com/vas3k" target="_blank">twitter.com/vas3k</a><br />
    <i class="icon-github"></i>&nbsp;<a href="http://github.com/vas3k/" target="_blank">github.com/vas3k</a><br />
    <i class="icon-facebookalt"></i>&nbsp;<a href="http://www.facebook.com/vas3k.ru" target="_blank">facebook.com/vas3k.ru</a><br />
    <i class="icon-instagramtwo"></i>&nbsp;<a href="http://instagram.com/vas3k" target="_blank">instagram.com/vas3k</a><br />
    <i class="icon-flowernew"></i>&nbsp;<a href="http://vas3k.moikrug.ru/" target="_blank">vas3k.moikrug.ru</a><br />
    <i class="icon-hospital"></i>&nbsp;<a href="http://vas3k.habrahabr.ru" target="_blank">vas3k.habrahabr.ru</a><br />
    <i class="icon-moviereel"></i>&nbsp;<a href="http://vas3k.imhonet.ru/" target="_blank">vas3k.imhonet.ru</a><br />
    <i class="icon-lastfm"></i>&nbsp;<a href="http://last.fm/user/vas3k" target="_blank">last.fm/user/vas3k</a><br />
    <i class="icon-quora"></i>&nbsp;<a href="https://www.quora.com/Vasily-Keke" target="_blank">quora.com/Vasily-Keke</a><br />
</div>